.App {
  text-align: center; 
}

.boxModel{
  width: 300px;
  padding: 50px;
  border: 2px solid #f9d71c;
  margin: auto;
  border-radius: 25px;
}

.search-bar{
  padding: 10px 10px;
  box-sizing: border-box;
  font-size: 25px;
}

.search-button{
  padding: 10px 10px;
  box-sizing: border-box;
  font-size: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.readMore{
  color:#f9d71c;
  text-decoration: underline;
  text-align: left;
}

.Title{
  color:#f9d71c;
  font-size:40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.Info{
  color:white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
